.card {
    width: 120px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
  .card2 {
    width: 120px;
    height: 50%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
  }